<div class="menu">
  <div class="menu__logo">
    <a href="">
      <img src="./../../../../assets/images/logo.svg" alt="DaraAds">
    </a>
  </div>
  <div class="menu__content-centered">
    <ul class="menu__items">
      <li class="" class="menu__item menu__item-opened" (click)="showSubmenu()">
        <span>Категории <img #btnShowsSubmenu class="menu__itemArrow menu__itemArrow-up"
            src="./../../../../assets/images/icons/menu_arrow.svg"></span>
      </li>
      <li class="menu__item">
        <a href="" title="Item">Item</a>
      </li>
      <li class="menu__item">
        <a href="" title="Item">Item</a>
      </li>
      <li class="menu__item">
        <a href="" title="Item">Item</a>
      </li>
      <li class="menu__item">
        <a href="" title="Item">Item</a>
      </li>
      <li class="menu__item">
        <a href="" title="Item">Item</a>
      </li>
    </ul>
    <span class="menu__divider"></span>
    <a href="" class="menu__btn btn-main">Добавить объявление</a>
  </div>

  <div class="menu__userInfo">
    <div class="menu__notification">
      <img src="./../../../../assets/images/icons/notification.svg" alt="">
    </div>
    <div class="menu__settings">
      <img src="./../../../../assets/images/icons/settings.svg" alt="">
    </div>
    <div class="menu__userAvatar">
      <img src="./../../../../assets/images/menu/avatar.png" alt="">
    </div>
  </div>
</div>
<app-submenu #submenu></app-submenu>