ul {
	list-style-type: none;

	li {
		padding: 0.2em 0 0.2em 0;
		margin-bottom: 1em;
		background-color: #b0c7ff;
		border-style: solid;
		border-width: 0px;
		border-radius: 3px;
	}
}

strong {
	margin-left: 10px;
	margin-right: 2em;
}

span {
	margin-right: 5em;
}

form {
	text-align: center;
	margin: 1em;
}
