<div class="table">
  <div class="table_head">
    <div class="table_headItems">
      <div class="table_headItem table_col">
        Author
      </div>
      <div class="table_headItem table_col">
        Name
      </div>
      <div class="table_headItem table_col">
        Start Date
      </div>
      <div class="table_headItem table_col">
        End Date
      </div>
      <div class="table_headItem table_col">
        Votings, %
      </div>
      <div class="table_headItem table_col">
        Actions
      </div>
    </div>
  </div>
  <div class="table_body">
    <div class="table_row">
      <div class="table_col table_userInfoCol">
        <span class="table_userName"><a href="#">
            123
          </a></span>
        <span class="table_userEmail">123</span>
      </div>
      <div class="table_col"><a href="#">123</a></div>
      <div class="table_col">123</div>
      <div class="table_col">123</div>
      <div class="table_col">123</div>
      <div class="table_col table_editPanel">
        <a href="#">
          <span class="iconify table_editIcon" data-icon="ant-design:edit-filled" data-height="24px"
            data-inline="false"></span>
        </a>
        <a href="#">
          <span class="iconify table_deleteIcon" data-height="24px" data-icon="ant-design:delete-filled"
            data-inline="false"></span>
        </a>
      </div>
    </div>
  </div>
</div>
