$main-font: "Montserrat", sans-serif;

$main-text-color: #222;
$main-grey: #c4c4c4;
$main-blue: #1890ff;
$main-blue-hover: #1287f5;
$main-white: rgba(255, 255, 255, 1);
$main-white-90: rgba(255, 255, 255, 0.9);
$main-green: #9ed67f;
$main-red: #db4d4c;
$main-orange: #ffbb33;
