.container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        max-width: 50%;
        border: 1px solid #f5f6f8;
        border-radius: 8px;
        box-shadow: 0px 4px 3px rgba(#3333, 0.04), 0px 4px 16px rgba(#3333, 0.08);
    }
}
.content {
    &__header {
        padding: 32px 32px 0 32px;
        border-bottom: 2px solid #f1f1f1;
    }

    &__socials {
        background-color: #fafafa;
        display: flex;
        justify-content: space-between;
        padding: 12px 32px;
    }
    &__socialsText {
        margin-right: 50px;
    }

    &__col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__socialIcon {
        padding: 6px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;

        &:last-child {
            margin-right: 0px;
        }
        & img {
            width: 24px;
            height: 24px;
        }
    }

    &__form {
        padding: 24px 32px 32px 32px;
        display: flex;
        flex-direction: column;

        & button {
            border: none;
            background-color: #1890ff;
            color: #ffffff;
            font-size: 16px;
            padding: 10px;
            width: 100%;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: #0f81ec;
            }
            & span,
            & svg {
                margin-left: 10px;
            }
        }
    }

    &__formInput {
        width: 100%;
        border: none;
        padding: 16px;
        box-shadow: 0px 4px 3px rgba(#3333, 0.04), 0px 4px 16px rgba(#3333, 0.08);
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.content__form_main_values {
    margin-bottom: 50px;
}

.header {
    & h1 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 21px;
    }

    &_tabs {
        display: flex;
    }

    &__tab {
        padding-bottom: 15px;
        margin-right: 24px;

        &:hover {
            border-bottom: 3px solid #85a7ff;
        }
        & span {
            font-size: 16px;
            color: #6b6b6b;
            font-weight: 500;
        }

        &:last-child {
            margin-right: 0px;

            & span {
                font-size: 16px;
            }
        }
    }

    &__tab-active {
        border-bottom: 3px solid #4378ff;
        & span {
            color: #111111 !important;
        }
    }
}

small {
    font-size: 0.7em;
    font-style: italic;
    color: rgb(59, 59, 59);
}