<div class="container">
    <form class="container__content content" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="content__header header">
            <h1>Профиль</h1>
            <div class="header_tabs">
                <div class="header__tab header__tab-active">
                    <a routerLink="/registration">Регистрация</a>
                </div>
                <div class="header__tab">
                    <a routerLink="/autorization">Авторизация</a>
                </div>
            </div>
        </div>
        <div class="content__socials">
            <div class="content__col">
                <span class="content__socialsText">Вы можете зарегистрироваться через</span>
            </div>
            <div class="content__col">
                <div class="content__socialIcon">
                    <img src="./../../../../assets/images/icons/vk.svg" alt="">
                </div>
                <div class="content__socialIcon">
                    <img src="./../../../../assets/images/icons/facebook.svg" alt="">
                </div>
                <div class="content__socialIcon">
                    <img src="./../../../../assets/images/icons/google.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content__form">
            <div class="content__form_main_values">
                <input formControlName="username" class="content__formInput" type="text" name="login"
                    placeholder="Укажите Ваш будущий логин">
                <small style="{{(registrationForm.get('username')!.value.length < 5) ? 'color: rgb(235,59,59);' : 'color: rgb(59, 59, 59);'}}">Не менее 5 символов латинскими буквами </small>
                <input formControlName="password" class="content__formInput" type="password" name="password"
                    placeholder="Ваш пароль">
                <small style="{{passwordRegex.test(registrationForm.get('password')!.value) ? 'color: rgb(59,59,59);' : 'color: rgb(235, 59, 59);'}}">Не менее 6 символов, цифры, буквы, спецсимвол. Пример: 123456Qq!</small>
                <input formControlName="name" class="content__formInput" type="text" name="login"
                    placeholder="Укажите Ваше имя">
                <small style="{{(registrationForm.get('name')!.value.length < 5) ? 'color: rgb(235,59,59);' : 'color: rgb(59, 59, 59);'}}">Не менее 5 символов</small>
                <input formControlName="lastName" class="content__formInput" type="text" name="login"
                    placeholder="Укажите Вашу фамилию">
                <small style="{{(registrationForm.get('lastName')!.value.length < 5) ? 'color: rgb(235,59,59);' : 'color: rgb(59, 59, 59);'}}">Не менее 5 символов</small>
                <input formControlName="email" class="content__formInput" type="email" name="email"
                    placeholder="Укажите Ваш email">
                <small style="{{(registrationForm.get('email')!.value.length < 5) ? 'color: rgb(235,59,59);' : 'color: rgb(59, 59, 59);'}}">Не менее 5 символов, нужен действующий E-mail</small>
                <input formControlName="phone" class="content__formInput" type="text" name="login"
                    placeholder="Укажите телефонный номер для объявлений">
                <small style="{{(registrationForm.get('phone')!.value.length < 5) ? 'color: rgb(235,59,59);' : 'color: rgb(59, 59, 59);'}}">Телефонный формат. Например: +79781234567</small>
                <button  style="margin-top: 15px;">{{registrationState}} <span class="iconify" data-icon="bi:arrow-right" data-inline="false"
                        style="color: white;"></span></button>
            </div>
        </div>
    </form>
</div>