<div class="submenu" *ngIf="isSubMenuShown">
  <div class="submenu__main">
    <div class="submenu__categories">
      <div class="submenu__categorie" *ngFor="let category of categories">
        <a
          [routerLink]="['/advertisements/', category.id]"
          (click)="closeSubMenu()"
          class="submenu__categoryHeader"
        >
          <span
            class="iconify"
            data-icon="bx:bxs-category"
            data-height="28px"
            data-inline="false"
            style="color: #1890ff"
          ></span>
          <span>{{ category.name }}</span>
        </a>
        <div class="submenu__categoryItems">
          <a
            (click)="closeSubMenu()"
            [routerLink]="['/advertisements/', subcategory.id]"
            class="submenu__categoryItem"
            *ngFor="let subcategory of category.childCategories"
          >
            <span>{{ subcategory.name }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="submenu__ad">
      <a href="">
        <img src="../../../../assets/images/submenu/ad.png" alt="" />
      </a>
      <a href="" class="submenu__btn btn-ghostArrow">
        <span>Смотреть все</span>
        <img src="../../../../assets/images/icons/bi_arrow-right.svg" alt="" />
      </a>
    </div>
  </div>

  <!-- <div class="submenu__best">
        <h1>Лучшее из категорий</h1>
        <div class="submenu__categoriesPreview">
            <div class="submenu__categoriesPreviewContent pointer">
                <figure>
                    <img src="./../../../../assets/images/submenu/car.png" alt="">
                </figure>
                <span>Транспорт</span>
            </div>
            <div class="submenu__categoriesPreviewContent pointer">
                <figure>
                    <img src="./../../../../assets/images/submenu/house.png" alt="">
                </figure>
                <span>Недвижимость</span>
            </div>
            <div class="submenu__categoriesPreviewContent pointer">
                <figure>
                    <img src="./../../../../assets/images/submenu/laptop.png" alt="">
                </figure>
                <span>Бытовая техника</span>
            </div>
            <div class="submenu__categoriesPreviewContent pointer">
                <figure>
                    <img src="./../../../../assets/images/submenu/pet.png" alt="">
                </figure>
                <span>Животные</span>
            </div>
        </div>
        <div class="submenu__content">
            <div class="submenu__list">
                <a href="" class="submenu__listItem">
                    <figure class="submenu__listImage"
                        style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
                    </figure>
                    <p>Toyota Camry, 2019</p>
                    <img class="submenu__listArrow" src="./../../../assets/images/icons/menu_arrow.svg" alt="">
                </a>
                <a href="" class="submenu__listItem">
                    <figure class="submenu__listImage"
                        style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
                    </figure>
                    <p>Toyota Landcruiser</p>
                    <img class="submenu__listArrow" src="./../../../assets/images/icons/menu_arrow.svg" alt="">
                </a>
                <a href="" class="submenu__listItem">
                    <figure class="submenu__listImage"
                        style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
                    </figure>
                    <p>Volkswagen Tiguan</p>
                    <img class="submenu__listArrow" src="./../../../../assets/images/icons/menu_arrow.svg" alt="">
                </a>
                <a href="" class="submenu__listItem">
                    <figure class="submenu__listImage"
                        style="background: url(./../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
                    </figure>
                    <p>Toyota mark 2</p>
                    <img class="submenu__listArrow" src="../../../../assets/images/icons/menu_arrow.svg" alt="">
                </a>
                <a href="" class="submenu__listItem">
                    <figure class="submenu__listImage"
                        style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
                    </figure>
                    <p>Hyundai Sonata</p>
                    <img class="submenu__listArrow" src="../../../../assets/images/icons/menu_arrow.svg" alt="">
                </a>
            </div>
            <div class="submenu__adPreview">
                <figure
                    style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
                </figure>
                <h2>Toyota Camry, 2019</h2>
                <p>
                    Toyota
                    Camry 3.5 AT (249 л.с.), бензин, автомат. Пробег 66039 км. Состояние отличное.
                </p>
                <div class="submenu__btns">
                    <a href="" class="submenu__adBtn btn-common btn">
                        Подробнее
                    </a>
                    <a href="" class="submenu__adBtn btn-primary btn">
                        Купить
                    </a>
                </div>
            </div>
        </div>
    </div> -->
</div>
