<div class="submenu" *ngIf="isSubMenuShown">
  <div class="submenu__main">
    <div class="submenu__categories">
      <div class="submenu__categorie" *ngFor="let category of categories">
        <a
          [routerLink]="['/advertisements/', category.id]"
          (click)="closeSubMenu()"
          class="submenu__categoryHeader"
        >
          <span
            class="iconify"
            data-icon="bx:bxs-category"
            data-height="28px"
            data-inline="false"
            style="color: #1890ff"
          ></span>
          <span>{{ category.name }}</span>
        </a>
        <div class="submenu__categoryItems">
          <a
            (click)="closeSubMenu()"
            [routerLink]="['/advertisements/', subcategory.id]"
            class="submenu__categoryItem"
            *ngFor="let subcategory of category.childCategories"
          >
            <span>{{ subcategory.name }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="submenu__ad">
      <a href="">
        <img src="../../../../assets/images/submenu/ad.png" alt="" />
      </a>
      <a href="" class="submenu__btn btn-ghostArrow">
        <span>Смотреть все</span>
        <img src="../../../../assets/images/icons/bi_arrow-right.svg" alt="" />
      </a>
    </div>
  </div>
</div>
