<div class="submenu">
  <div class="submenu__main">
    <div class="submenu__categories">
      <div class="submenu__categorie">
        <a href="" class="submenu__categoryHeader">
          <img src="./../../../assets/images/icons/car.svg" alt="">
          <span>Транспорт</span>
        </a>
        <div class="submenu__categoryItems">
          <a href="" class="submenu__categoryItem">
            <span>Автомобили</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Мотоциклы</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Спецтехника</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Запчасти</span>
          </a>
        </div>
      </div>
      <div class="submenu__categorie">
        <a href="" class="submenu__categoryHeader">
          <img src="./../../../assets/images/icons/house.svg" alt="">
          <span>Недвижимость</span>
        </a>
        <div class="submenu__categoryItems">
          <a href="" class="submenu__categoryItem">
            <span>Квартиры</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Дома</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Новостройки</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Гаражи</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Участки</span>
          </a>
        </div>
      </div>
      <div class="submenu__categorie">
        <a href="" class="submenu__categoryHeader">
          <img src="./../../../assets/images/icons/laptop.svg" alt="">
          <span>Бытовая техника</span>
        </a>
        <div class="submenu__categoryItems">
          <a href="" class="submenu__categoryItem">
            <span>Аудио и видео</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Игры, приставки</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Компьютеры</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Ноутбуки</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Телефоны, планшеты</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Фототехника</span>
          </a>
        </div>
      </div>
      <div class="submenu__categorie">
        <a href="" class="submenu__categoryHeader">
          <img src="./../../../assets/images/icons/pets.svg" alt="">
          <span>Животные</span>
        </a>
        <div class="submenu__categoryItems">
          <a href="" class="submenu__categoryItem">
            <span>Собаки</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Кошки</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Птицы</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Аквариум</span>
          </a>
          <a href="" class="submenu__categoryItem">
            <span>Аксессуары</span>
          </a>
        </div>
      </div>
    </div>
    <div class="submenu__ad">
      <a href="">
        <img src="../../../../assets/images/submenu/ad.png" alt="">
      </a>
      <a href="" class="submenu__btn btn-ghostArrow">
        <span>Смотреть все</span>
        <img src="../../../../assets/images/icons/bi_arrow-right.svg" alt="">
      </a>
    </div>
  </div>

  <div class="submenu__best">
    <h1>Лучшее из категорий</h1>
    <div class="submenu__categoriesPreview">
      <div class="submenu__categoriesPreviewContent pointer">
        <figure>
          <img src="./../../../../assets/images/submenu/car.png" alt="">
        </figure>
        <span>Транспорт</span>
      </div>
      <div class="submenu__categoriesPreviewContent pointer">
        <figure>
          <img src="./../../../../assets/images/submenu/house.png" alt="">
        </figure>
        <span>Недвижимость</span>
      </div>
      <div class="submenu__categoriesPreviewContent pointer">
        <figure>
          <img src="./../../../../assets/images/submenu/laptop.png" alt="">
        </figure>
        <span>Бытовая техника</span>
      </div>
      <div class="submenu__categoriesPreviewContent pointer">
        <figure>
          <img src="./../../../../assets/images/submenu/pet.png" alt="">
        </figure>
        <span>Животные</span>
      </div>
    </div>
    <div class="submenu__content">
      <div class="submenu__list">
        <a href="" class="submenu__listItem">
          <figure class="submenu__listImage"
            style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
          </figure>
          <p>Toyota Camry, 2019</p>
          <img class="submenu__listArrow" src="./../../../assets/icons/menu_arrow.svg" alt="">
        </a>
        <a href="" class="submenu__listItem">
          <figure class="submenu__listImage"
            style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
          </figure>
          <p>Toyota Landcruiser</p>
          <img class="submenu__listArrow" src="./../../../assets/icons/menu_arrow.svg" alt="">
        </a>
        <a href="" class="submenu__listItem">
          <figure class="submenu__listImage"
            style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
          </figure>
          <p>Volkswagen Tiguan</p>
          <img class="submenu__listArrow" src="./../../../../assets/icons/menu_arrow.svg" alt="">
        </a>
        <a href="" class="submenu__listItem">
          <figure class="submenu__listImage"
            style="background: url(./../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
          </figure>
          <p>Toyota mark 2</p>
          <img class="submenu__listArrow" src="../../../../assets/icons/menu_arrow.svg" alt="">
        </a>
        <a href="" class="submenu__listItem">
          <figure class="submenu__listImage"
            style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
          </figure>
          <p>Hyundai Sonata</p>
          <img class="submenu__listArrow" src="../../../../assets/icons/menu_arrow.svg" alt="">
        </a>
      </div>
      <div class="submenu__adPreview">
        <figure
          style="background: url(./../../../../assets/images/submenu/car.png); background-position: 50% 50%; background-size: cover;">
        </figure>
        <h2>Toyota Camry, 2019</h2>
        <p>
          Toyota
          Camry 3.5 AT (249 л.с.), бензин, автомат. Пробег 66039 км. Состояние отличное.
        </p>
        <div class="submenu__btns">
          <a href="" class="submenu__adBtn btn-common btn">
            Подробнее
          </a>
          <a href="" class="submenu__adBtn btn-primary btn">
            Купить
          </a>
        </div>
      </div>
    </div>
  </div>
</div>