@import '../../../assets/scss/main.scss';

footer{
  padding: 15px 200px 15px 200px;
}

.news__subscription__section{
  width: 30%;
  .news__subscription__title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-family: $main-font;
    height: inherit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }
}

.submenu {
  padding: 60px 200px;
  font-family: $main-font;
  background: #fff;

  &__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__categories {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    flex-grow: 1;
  }

  &__categorie {}

  &__categoryHeader {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    & img {
      margin-right: 5px;
    }
    & span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
    }
  }

  &__categoryItems {
    margin-left: 29px;
    width: inherit;
    height: inherit;
  }

  &__categoryItem {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    width: inherit;
    height: inherit;

    & span {
      position: relative;
      &::before {
        opacity: 0;
      }
      &:hover::before {
        content: ' ';
        transition: opacity 1s;
        display: block;
        opacity: 1;
        height: 30%;
        width: 110%;
        margin-left: -3px;
        margin-right: -3px;
        position: absolute;
        background: rgba($main-blue, $alpha: 0.2);
        transform: skew(-25deg);
        left: -3%;
        bottom: 0;
        padding: 10px 3px 3px 10px;
      }
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__ad {
    display: flex;
    flex-direction: column;
    & img {
      max-height: 180px;
      max-width: 200px;
      margin-bottom: 15px;
    }
    & .btn {}
  }

  &__listItem {
  }

  &__btns {
    display: flex;

    & .btn:last-child {
      margin-left: 15px;
    }
  }

  &__content {
    display: flex;
  }

  &__list {}

  &__listItem {
    padding: 20px 15px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($main-grey, $alpha: 0.5);
    box-sizing: border-box;

    &:last-child {
      border: none;
    }

    & p {
      flex-grow: 1;
    }
  }

  &__listImage {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__listArrow {
    transform: rotate(90deg);
    margin-left: 10px;
  }

}

.upper__footer{
  border-top: solid 0.7px;
  padding-top: 30px;
  margin-bottom: 30px;
}


.news__subscription__form{

  form{
    margin-top: 10px;
  }

  button{
    border: none;
    margin-left: 5px;
  }

  .email__input{
    padding: 7px 16px;
    border: 1px solid #D3D3D4;
  }

}

.lower__footer{
  border-top: solid 0.7px;
  padding-top: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  .footer__links{
    a{
      margin-left: 5px;
    }
  }

  .footer_social__links{
    img{
      margin: 0 5px;
    }
  }

  .visits{

  }
}

