@import "../../../assets/scss/main.scss";

.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px 15px 200px;
    width: 100%;
    @include box_shadow(1);

    &__logo {
        max-height: 30px;
        & img {
            max-height: 30px;
            height: 100%;
        }
    }

    &__content-centered {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        height: 100%;

        & .menu__item {
            height: 100%;
            margin-right: 15px;

            & a,
            & span {
                display: flex;
                align-items: center;
                transition: all ease 0.1s;
            }

            & a span:hover {
                transition: all ease 0.5s;
                font-weight: bold;
            }

            &:last-child {
                margin-right: 0px;
            }
        }

        & .menu__item:hover > span,
        & .menu__item:hover > a {
            letter-spacing: 0px;
            font-weight: bold;
        }
    }

    &__itemArrow {
        margin-left: 5px;
        transform: rotate(180deg);
    }

    &__itemArrow-up {
    }

    &__divider {
        width: 1px;
        background-color: $main-grey;
        margin: 0 15px;
        height: 100%;
        min-height: 45px;
    }

    &__btn {
    }

    &__userInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & * {
            margin-right: 10px;
        }
        & :last-child {
            margin-right: 0px;
        }
    }

    &__notification {
    }

    &__settings {
    }

    &__userStatus {
        display: flex;
        flex-direction: column;
    }
    &__userName {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    &__userRole {
        font-size: 12px;
        color: $main-blue;
        text-align: end;
        padding-right: 10px;
    }

    &__userAvatar {
        border-radius: 50%;
        width: 48px;
        height: 48px;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.userMenu {
    z-index: 10000;
    background-color: #fff;
    display: none;
    position: absolute;
    right: 200px;
    top: 90px;

    &__block {
        @include box_shadow(3);
        margin-bottom: 20px;
        border-radius: 8px;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__header {
        padding: 20px;
        font-size: 16px;
        font-weight: 600;
    }

    &__item {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        transition: background ease 0.3s;

        &-addBtn {
            display: none;
        }

        &:hover {
            border-left: 4px solid $main-blue;
            padding: 10px 20px 10px 16px;
            background-color: #f9fafc;
            transition: background ease 0.3s;
        }
    }

    &__icon {
        margin-right: 5px;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
    }
}
.iconify {
    font-size: 18px;
}

@media all and (min-width: 0px) and (max-width: 1000px) {
    .menu {
        padding: 15px 50px 15px 50px;

        &__btn {
            display: none;
        }

        &__divider {
            display: none;
        }

        &__items {
            & .menu__item {
                display: none;
                &:first-child {
                    display: block;
                }
            }
        }
    }

    .userMenu {
        right: 50px;
        &__item {
            &-addBtn {
                display: block;
            }
        }
    }
}

@media all and (min-width: 1000px) and (max-width: 1200px) {
    .menu {
        padding: 15px 50px 15px 50px;

        &__btn {
            display: none;
        }

        &__divider {
            display: none;
        }
    }

    .userMenu {
        right: 50px;
        &__item {
            &-addBtn {
                display: block;
            }
        }
    }
}

@media all and (min-width: 1200px) and (max-width: 1360px) {
    .menu {
        padding: 15px 100px 15px 100px;

        &__btn {
            display: none;
        }

        &__divider {
            display: none;
        }
    }

    .userMenu {
        right: 100px;
        &__item {
            &-addBtn {
                display: block;
            }
        }
    }
}
