.contacts {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.5em;
}

h1 {
    font-size: 2.5em;
}

h5 {
    font-size: 0.8em;
}
.container {
    display: flex;
    flex-direction: column;

    & .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

    & h1 {
        margin-bottom: 60px;
        font-size: 36px;
    }

    &__skills {
        font-size: 16px;
    }
}
.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}
.mat-card-title {
    font-size: 18px;
}
.mat-card-image {
    object-fit: cover;
    height: 360px;
}
