<!-- <div class="contacts"> 
	<h1>DaraAds Team</h1><br>
	<img src="./../../../../assets/images/contacts/contacts_vector_logo.svg" width="300" heigth="300"><br>
	Алим Невилов<br>
	Антон Щерба<br>
	Богдана Бадьянова<br>
	Виктор Костылев<br><br>
	<h5>Севастополь 2021</h5>
</div> -->

<div class="container">
    <h1>Вас приветствует команда DaraAds</h1>
    <div class="content">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Your name</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="container__skills">
                    FullStack Senior C# Developer
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Your name</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="container__skills">
                    FullStack Senior C# Developer
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Your name</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="container__skills">
                    FullStack Senior C# Developer
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Your name</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="container__skills">
                    FullStack Senior C# Developer
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>