<div class="container">
    <h1>Вас приветствует команда DaraAds</h1>
    <div class="content">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Антон Щерба</mat-card-title>
            </mat-card-header>
            <img class="mat-card-image" mat-card-image src="./../../../assets/images/contacts/anton.png">
            <mat-card-content>
                <p class="container__skills">
                    Full-stack developer
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Богдана Бадьянова</mat-card-title>
            </mat-card-header>
            <img class="mat-card-image" mat-card-image src="./../../../assets/images/contacts/bogdana.png">
            <mat-card-content>
                <p class="container__skills">
                    Frontend Angular developer, Designer
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Алим Юсуфов</mat-card-title>
            </mat-card-header>
            <img class="mat-card-image" mat-card-image src="./../../../assets/images/contacts/alim.png">
            <mat-card-content>
                <p class="container__skills">
                    FullStack Senior C# Developer
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Виктор Костылев</mat-card-title>
            </mat-card-header>
            <img class="mat-card-image" mat-card-image src="./../../../assets/images/contacts/victor.png">
            <mat-card-content>
                <p class="container__skills">
                    Full-stack C# + JS developer
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>