<div class="container">
  <form
    class="container__content content"
    [formGroup]="autorizeForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="content__header header">
      <h1>Профиль</h1>
      <div class="header_tabs">
        <div class="header__tab">
          <a routerLink="/registration">Регистрация</a>
        </div>
        <div class="header__tab header__tab-active">
          <a routerLink="/autorization">Авторизация</a>
        </div>
      </div>
    </div>

    <div class="content__form">
      <input
        formControlName="login"
        class="content__formInput"
        type="text"
        name="login"
        placeholder="Ваш логин"
      />
      <input
        formControlName="password"
        class="content__formInput"
        type="password"
        name="password"
        placeholder="Ваш пароль"
      />
      <div class="content__forgotPassword">
        <span
          >Забыли пароль? <a routerLink="/forgotPassword">Восстановить</a>
        </span>
      </div>
      <button>
        Авторизация
        <span
          class="iconify"
          data-icon="bi:arrow-right"
          data-inline="false"
          style="color: white"
        ></span>
      </button>
    </div>
  </form>
</div>
