<div class="container">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="header">
    <h1>Доска объявлений</h1>
    <div class="header__filters"></div>
  </div>
  <div class="content">

    <div class="content__advertisements">

      <app-advertisement *ngFor="let advertisement of advertisements;"
        [routerLink]="['advertisements', advertisement.id]" [title]="advertisement.title" [price]='advertisement.price'
        [cover]="advertisement.images[0].id"
        [ownerName]='advertisement.owner.name + " " + advertisement.owner.lastname'
        [createdDate]="advertisement.createdDate">
      </app-advertisement>

    </div>

  </div>
</div>
