<div class="container">
  <div class="header">
    <h1>Доска объявлений</h1>
    <div class="header__filters"></div>
  </div>
  <div class="content">

    <div class="content__advertisements">

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

      <div class="content__advertisement advertisement">
        <div class="advertisement__img">
          <img src="https://50ot.ru/media/uploads/nofoto.jpg" alt="">
        </div>
        <div class="advertisement__dsc">
          <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>

    </div>

  </div>
</div>