<div class="container">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="header">
    <h1>Доска объявлений</h1>
    <div class="header__filters"></div>
  </div>
  <div class="content">

    <div class="content__advertisements">

      <app-advertisement [routerLink]="['advertisements', '1']">
      </app-advertisement>

      <app-advertisement [routerLink]="['advertisements', '2']">
      </app-advertisement>

      <app-advertisement [routerLink]="['advertisements', '3']">
      </app-advertisement>

      <app-advertisement [routerLink]="['advertisements', '4']">
      </app-advertisement>

      <app-advertisement [routerLink]="['advertisements', '5']">
      </app-advertisement>

      <app-advertisement [routerLink]="['advertisements', '6']">
      </app-advertisement>

      <app-advertisement [routerLink]="['advertisements', '7']">
      </app-advertisement>

    </div>

  </div>
</div>
