/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/main.scss";

.pointer {
    cursor: pointer;
}

figure {
    overflow: hidden;
    background-size: 100%;
    background-position: 50% 50%;
}

*::selection {
    background-color: $main-blue;
}
