/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main.scss';

* {
    transition: all ease 0.7s;
}

.pointer {
    cursor: pointer;
}

figure {
    overflow: hidden;
    background-size: 100%; 
    background-position: 50% 50%;
}

*::selection {
    background-color: $main-blue;
}