<div class="container">
  <a
    [routerLink]="[
      '/advertisements/',
      categoryId,
      'advertisement',
      advertisementId
    ]"
  >
    <figure class="container__image">
      <img [src]="imageBlob" alt="" />
    </figure>
  </a>
  <div class="container__content">
    <a
      [routerLink]="[
        '/advertisements/',
        categoryId,
        'advertisement',
        advertisementId
      ]"
    >
      <h3 class="container__title">{{ title }}</h3>
    </a>
    <span class="container__price">{{ price }} руб.</span>
    <div class="container__userInfo userInfo" *ngIf="!thisUserAdvertisement">
      <a [routerLink]="['/profile/', ownerLogin]">
        <figure class="userInfo__avatar">
          <img [src]="avatarBlob" alt="" />
        </figure>
      </a>
      <div class="userInfo__left">
        <a [routerLink]="['/profile/', ownerLogin]" class="userInfo__name">{{
          ownerName
        }}</a>
        <a class="userInfo__link" [routerLink]="['/profile/', ownerLogin]"
          >Другие объявления</a
        >
      </div>
    </div>
    <div class="container__advInfo">
      <div class="container__adress">{{ address }}</div>
      <span class="container__date">{{
        createdDate | date: "dd-MM-yyyy hh:mm"
      }}</span>
    </div>
  </div>
</div>
