<div class="container">
    <a [routerLink]="['/advertisement/', routLink]">
        <figure class="container__image">
            <img [src]="imageBlob" alt="">
        </figure>
    </a>
    <div class="container__content">
        <h3 class="container__title">{{title}}</h3>
        <span class="container__price">{{price}} руб.</span>
        <div class="container__userInfo userInfo">
            <figure class="userInfo__avatar">
                <img src="./../../../../assets/images/menu/avatar.png" alt="">
            </figure>
            <div class="userInfo__left">
                <div class="userInfo__name">{{ ownerName }}</div>
                <a class="userInfo__link" href="">Другие объявления</a>
            </div>
        </div>
        <div class="container__advInfo">
            <div class="container__adress">
                г. Севастополь, Гагаринский
            </div>
            <span class="container__date">{{ createdDate | date:'dd-MM-yyyy hh:mm' }}</span>
        </div>
    </div>
</div>