.custom-bread-crumb {
    // margin-top: 40px;

    & span li a {
        padding: 3px 0;
        &:hover {
            text-decoration: none !important;
            border-bottom: 1px solid #222;
        }
    }
}
ya-map div {
    max-height: 450px !important;
}
.ymaps-2-1-78-map {
    width: 100% !important;
    min-height: 350px !important;
}
