<div class="container">
  <form class="container__content content" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="content__header header">
      <h1>Восстановление</h1>
    </div>
    <div class="content__form">
      <input formControlName="email" class="content__formInput" type="text" name="email" placeholder="Ваш Email">
      <button>Восстановить пароль <span class="iconify" data-icon="bi:arrow-right" data-inline="false"
                                        style="color: white;"></span></button>
    </div>
  </form>
</div>
