<div class="container">
  <div class="container__header header">
    <h1 class="header__title">Персональная информация</h1>
  </div>
  <div class="container__content">
    <div class="container__userStatus">
      <div class="avatar__block" (click)="avatarChange()">
        <span
          class="iconify avatar_template"
          data-icon="akar-icons:image"
          data-inline="false"
        ></span>
        <figure class="container__userAvatar">
          <input
            id="file"
            type="file"
            name="file"
            style="background: no-repeat center/cover url('{{
              userImageBlob
            }}') #e4e4e4;"
            (change)="onFileChange($event)"
          />
        </figure>
      </div>

      <div class="container__userAvatarInfo">
        <span class="container__userName">
          {{ user?.name + " " + user?.lastname }}
        </span>
        <p class="container__link">Нажмите на аватар, чтобы изменить его</p>
      </div>

      <div class="container__accountStatus">Премиум аккаунт</div>
    </div>
    <div class="container__divider"></div>
    <div class="container__block">
      <h2>Информация об аккаунте</h2>
      <div class="container__accountType">
        <form action="">
          <div
            class="container__accountType-row"
            [ngClass]="{ 'container__accountType-active': !isCorporative }"
          >
            <input
              [checked]="!isCorporative"
              disabled
              type="radio"
              name="account"
              value="personal"
            />
            <label for="personalAccount">Персональный аккаунт</label>
          </div>

          <div
            class="container__accountType-row"
            [ngClass]="{ 'container__accountType-active': isCorporative }"
          >
            <input
              [checked]="isCorporative"
              disabled
              type="radio"
              name="account"
              value="corporative"
            />
            <label for="corporativeAccount">Корпоративный аккаунт</label>
          </div>
        </form>
        <span
          >Для смены типа аккаунта напишите обращение на почту в техническую
          поддержку daraads@gmail.com</span
        >
      </div>
    </div>

    <div class="container__divider"></div>

    <div class="container__block">
      <h2>Главное</h2>
      <form
        class="container__accountInfo"
        [formGroup]="userInfoForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="container__input input">
          <label for="name" class="container__label">Имя</label>
          <div class="input__value">
            <input
              formControlName="name"
              name="name"
              type="text"
              [placeholder]="user?.name"
            />
          </div>
        </div>

        <div class="container__input input">
          <label for="lastname" class="container__label">Фамилия</label>
          <div class="input__value">
            <input
              formControlName="lastName"
              name="lastname"
              type="text"
              [placeholder]="user?.lastname"
            />
          </div>
        </div>

        <div class="container__input input">
          <label for="name" class="container__label">Телефон</label>
          <div class="input__value">
            <input
              formControlName="phone"
              name="name"
              type="text"
              [placeholder]="user?.phone"
            />
          </div>
        </div>
        <button class="btn btn-main" type="submit">Обновить</button>
      </form>
    </div>

    <div class="container__divider"></div>

    <div class="container__block">
      <h2>Напоминания</h2>
      <div class="container__notify">
        <div class="container__checkbox">
          <div class="input__value">
            <input
              checked="{{ !isNotificated }}"
              (change)="setNotityState($event)"
              name="getNotify"
              type="checkbox"
            />
          </div>
          <label for="country" class="container__label"
            >Я хочу получать напоминания</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
