<div class="container">

  <div class="container-left">

    <div class="container__chat__role">
      <button>Покупатели</button>
      <button>Продавцы</button>
    </div>

    <button *ngFor="let chat of Chats" class="user__chat__button" (click)="getChatMessages()">
      <div class="user__chats">
        <img src="assets/images/advertisement/car1.png">
        <div class="user__info">
          <span class="__name">{{chat.name}}</span>
          <span class="__lastname">{{chat.lastname}}</span>
          <span class="updated__date">{{chat.updatedDate}}</span>
        </div>
      </div>
    </button>
  </div>

  <div class="chat">

    <div class="chat__box">

      <div class="message__recipient">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, reiciendis?</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__sender">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae commodi corporis dolorem ea eos est facere facilis, harum illum maxime minima nihil sapiente sint ullam unde, ut vel vero!</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__recipient">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, reiciendis?</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__sender">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae commodi corporis dolorem ea eos est facere facilis, harum illum maxime minima nihil sapiente sint ullam unde, ut vel vero!</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__recipient">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, reiciendis?</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__sender">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae commodi corporis dolorem ea eos est facere facilis, harum illum maxime minima nihil sapiente sint ullam unde, ut vel vero!</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__recipient">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, reiciendis?</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__sender">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae commodi corporis dolorem ea eos est facere facilis, harum illum maxime minima nihil sapiente sint ullam unde, ut vel vero!</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__recipient">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, reiciendis?</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

      <div class="message__sender">
        <div class="message__content">
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae commodi corporis dolorem ea eos est facere facilis, harum illum maxime minima nihil sapiente sint ullam unde, ut vel vero!</span>
          <span class="text">132.123.123</span>
        </div>
      </div>

    </div>

    <div class="send__message__container">
      <input type="text">
       <button class="send__button" type="button">Отправить</button>
    </div>
  </div>
</div>
