<div class="container">
    <form class="container__content content" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="content__header header">
            <h1>Восстановление</h1>
        </div>
        <div class="content__form">
            <input formControlName="newPassword" class="content__formInput" type="password" name="newPassword"
                placeholder="Введите пароль">
            <input formControlName="repeatedPassword" class="content__formInput" type="password" name="repeatedPassword"
                placeholder="Введите пароль еще раз">
            <button>Восстановить пароль <span class="iconify" data-icon="bi:arrow-right" data-inline="false"
                    style="color: white;"></span></button>
        </div>
    </form>
</div>