.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    & .content {
        flex-grow: 1;
        padding: 60px 200px 20px 200px;
    }
}

@media all and (min-width: 0px) and (max-width: 1000px) {
    .container {
        & .content {
            padding: 60px 50px 20px 50px;
        }
    }
}

@media all and (min-width: 1000px) and (max-width: 1200px) {
    .container {
        & .content {
            padding: 60px 50px 20px 50px;
        }
    }
}

@media all and (min-width: 1200px) and (max-width: 1360px) {
    .container {
        & .content {
            padding: 60px 100px 20px 100px;
        }
    }
}
